@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Poppins:wght@400;500;700&family=Tangerine:wght@700&display=swap');


.header-app{
    width: 100%;
    color: rgb(255, 255, 255);
    /* padding-top: 5px; */
    padding-bottom: 5px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: auto;
    background-color: rgb(41, 24, 194);
    /* box-shadow: 5px 1px 34px 1px rgb(182, 173, 173); */
    /* z-index: 1; */
    /* border-radius: 150px 0 0 0; */
    /* width: 90%; */
    /* margin-left: 4rem; */
    /* clip-path: polygon(25px 0, calc(100% - 25px) 0, 100% 100%, 0 100%); */
}

.nav{
    width: 50rem;
}

.nav-links{
    font-family: 'Poppins', sans-serif;
    margin-top: -19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

li{
    list-style-type: none;
    color: rgb(226, 223, 223);
}

li:hover{
    cursor: pointer;
    color: white;
    /* border-bottom: 1px solid black; */
}

div.title{
    margin-top: -1px;
}

.title h4{
    color: rgb(255, 255, 255);
    /* margin-left: 5rem; */
}


img{
    margin-top: 0px;
    margin-bottom: -28px;
    width: 60px;
    margin-left: 55px;
}

.button button{
    margin-top: 1.9rem;
    margin-right: 3.2rem;
}



