.main{
    background-image:linear-gradient(
    rgba(27, 27, 27, 0.166), 
    rgba(15, 46, 223, 0.4)
    ), url('/src/images/pexels-tamil-vanan-4966809.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    /* margin-top: 9rem; */
    height: 100vh;
    /* margin-right: 6rem; */
}

.main-child1{
    margin-right: 6rem;
    margin-top: 9rem;
}


.text-content{
    /* place-self: center; */
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.text-content h1{
    font-size: 2.5rem;
    color: rgb(41, 24, 194);
}

.text-content p{
    text-align: right;
    margin-top: -26px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

span{
    letter-spacing: 5px;
    color: aqua;
}


